@font-face {
  font-family: "Beamerslides Libertinus Sans";
  src: url("fonts/LibertinusSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Beamerslides Libertinus Sans";
  src: url("fonts/LibertinusSans-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Beamerslides Libertinus Sans";
  src: url("fonts/LibertinusSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
